.superInfoBg {
    background: var(--cyan-700);
    color: var(--gray-800);

    div {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; //alinha cada um na ponta
        flex-wrap: wrap; //quebrar para proxima quando nao couber
        padding-top: 10px;

        a {
            color: var(--gray-800);
        }

        p,
        a {
            margin: 0 10px 10px 10px; //para nao ficar grudado
        }
    }
}

.headerBG {
    background: var(--cyan-500);
    color: var(--gray-800);

    .headerContainer {
        max-width: 1024px;
        margin: 0 auto;
        padding: 15px 0;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center; //garantir que esteja no centro

        >a {
            font-size: 2.25rem;
            font-family: Nunito;
            font-weight: bold;
            color: var(--colorFont);
            margin: 0 10px;
        }

        nav {
            ul {
                display: flex; //colocar um do lado do outro ul
                flex-wrap: wrap;

                a {
                    font-size: 1.125rem;
                    display: block;
                    padding: 10px;
                    animation: filter 0.3s;

                    &:hover {
                        filter: brightness(0.2);
                        // border: 1px solid #121212;
                    }
                }
            }
        }

    }
}